/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nerko One', cursive;
    background: hsl(195deg 53% 79%)
}

/* UTILITIES */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/*HEADER */

header {
    text-align: center;
    /*margin-bottom: 10px;*/
}

header h1 {
    color: white;
    transform: uppercase;
    font-size: 80px;
    text-shadow: 2px 2px black;
}

.main-content {
    width: 1200px;
    height: 750px;
    margin: 0 auto;
    padding-left: 147px;
    padding-top: 10px;
    /*background: green;*/
}

.cards img {
    float: left;
    width: 200px;
    height: 230px;
    margin-bottom: 40px;
    margin-right: 40px;
    border-radius: 20px;
    background-color: white;
}

.textcard img{
    color:pink;
}